.VideoChat {
  text-align: center;
}

.VideoChat-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Dark Color - #6771ad */

.VideoChat-link {
  color: #8c86c4;
}